<h1>New model_datum</h1>

<%= render 'form' %>

<!-- アップロード用フォーム 
<%= form_tag("/foobar/upload", :multipart => true) do %>
  <input name="attachment" type="file" />
  <input type="submit" />
<% end %>-->


<%= link_to 'Back', model_data_path %>
