// Place all the styles related to the Dioramas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#site-box {  width: 1200px;  }
#left-box {
  width: 1024px;
  float: left;
  margin-right:64px;
}
#modelSelectionParent {
  width: 256px;
  float: left;
  margin-right:32px;
}
#modelSelection {
  width: 256px;
  float: left;
  margin-right:32px;
}
#right-box {
  float: right;
}
.debugText {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 40px;
  left: 0px;
}
.item {

}
